.product {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.product .header {
  height: 200px;
  width: 100%;
  background-color: lightgray;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.header .back {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .title {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5rem;
}

.header .title > * {
  height: auto;
  width: auto;
}

.header .next {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 2rem;
}

.header .next > * {
  height: auto;
  width: auto;
}

.product .photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: auto;
  background-color: lightgray;
}

.photos .image {
  height: auto;
  width: auto;
  margin: 2rem;
}
